@{
    ViewData["Title"] = "О сайте";
}
<h1>@ViewData["Title"]</h1>

<p>Сайт StockExchange создан для демонстрации проделанной курсовой работы.</p>
<p>Авторы: <a href="https://vk.com/rewolfnus">Шишкин С.Н.</a>, <a href="https://vk.com/andreygoryachev2000">Горячев А.А.</a></p>
