@model BestSite.Shareinfo

@{
    ViewData["Title"] = "Добавление инф. об акциях";
}

<h1>Добавить информацию</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSI">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Issuer" class="control-label"></label>
                <input asp-for="Issuer" class="form-control" />
                <span asp-validation-for="Issuer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sharetype" class="control-label"></label>
                <select name ="Sharetype" class="form-control">
                    <option value="Привилегированная">Привилегированная</option>
                    <option value="Обыкновенная">Обыкновенная</option>
                </select>
                <span asp-validation-for="Sharetype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sharecount" class="control-label"></label>
                <input asp-for="Sharecount" class="form-control" />
                <span asp-validation-for="Sharecount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shareissuedate" class="control-label"></label>
                <input asp-for="Shareissuedate" class="form-control" />
                <span asp-validation-for="Shareissuedate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShareAuthorizedcapital" class="control-label"></label>
                <input asp-for="ShareAuthorizedcapital" class="form-control" />
                <span asp-validation-for="ShareAuthorizedcapital" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-outline-dark" />
                <a asp-action="ShareInfo" class="btn btn-outline-dark">Назад<i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
