@{
    ViewData["Title"] = "Главная странцица";
}

<h1>Главная странцица</h1>

<p>
    <button>@Html.ActionLink("Таблица «Акционеры»", "ShareHolderList")</button><br><br>
    <button>@Html.ActionLink("Таблица «Сертификаты»", "ShareCertificates")</button><br><br>
    <button>@Html.ActionLink("Таблица «Информация об акциях»", "ShareInfo")</button><br><br>
</p>